<?xml version="1.0"?>
<launch>
  <!-- Launch the racecar -->
  <include file="$(find racecar_gazebo)/launch/racecar.launch">
    <arg name="world_name" value="race_circuit"/>
  </include>
</launch>

<!-- <arg name="world_name" value="racecar_runway"/> -->
<!-- <arg name="world_name" value="cuadrado"/> -->
<!-- <arg name="world_name" value="race_circuit"/> -->
